
<div class="menu">
    <div class="bg-menu"></div>
    <div class="menu-konten">
        <div class="menu-kiri">
            <span><ul>LOGO</ul></span>
        </div>
        <div class="menu-tengah">
          <a href ="/home"><span><ul>HOME</ul></span></a>
          <a href ="/work"><span><ul>WORK</ul></span></a>
          <a href ="/contact"><span><ul>CONTACT</ul></span></a>
          <a href ="/about-us"><span><ul>ABOUT US</ul></span></a>
        </div>
        <div class="menu-kanan">
          <a href="/signup"><span><ul>SIGN UP</ul></span></a>
          <a href="/login"><span><ul>LOG IN</ul></span></a>                     
        </div>   
    </div> 
</div>
