<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--css custom-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <section class="hal-1">
        <div class="container">
            <%- include("partials/navbar") %>
            <div>
                <h2>About us Page</h2>
            </div>
        </div>
        
    </section>
</body>
</html>