<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge - Kuni</title>
    <!--css bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--css custom-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="fullscreen">
    <!--halaman 1-->
    <section class="hal-1">
      <%- include("partials/navbar") %>
        <div class="teks-hal-1-tengah">
            <h1 class="play">PLAY TRADITIONAL GAME</h1>
            <h3 class="play-caption">Experience new traditional game play</h3>
            <div class="tombol">
                <a href="/gamesuit">
                    <button type="button" class="btn btn-warning" id="button-hal-1">PLAY NOW</button>
                </a>
            </div>
            <div class="teks-hal-1-bawah">
                <p>THE STORY</p>
                <p class="panah-bawah">v</p>
            </div>
        </div>
    </section>
<!--halaman 2-->
    <section class="hal-2">
        <main class="konten-hal-2">
            <div class="teks-hal-2-kiri">
                <p>What's so special?</p>
                <h2>THE GAMES</h2>
            </div>         
            <div class="gallery-hal-2">
                <img src="../images/(2)rockpaperstrategy-1600.jpg" width="600 px">
            </div>
        </main>
    </section>
<!--halaman 3-->
    <section class="hal-3">
        <div class="konten-hal-3">
            <div class="hal-3-space"></div>
            <div class="teks-hal-3">
                <p>What's so special?</p>
                <h2>FEATURES</h2>
                <h3><li>TRADITIONAL GAMES</li></h3>
                <h4>If you miss your childhood we provide many traditional games here</h4>
                <h3><li>GAME SUIT</li></h3>
                <h3><li>TBD</li></h3>
            </div>
        </div>
    </section>
<!--halaman 4-->
    <section class="hal-4">
        <div class="hal-4-atas">
            <p>Can My Computer Run this game?</p>
        </div>
        <div class="konten-hal-4">
            <div class="space-hal-4-kiri"></div>
            <div class="teks-hal-4">
                <div class="sys-hal-4">
                    <h2>SYSTEM REQUIREMENTS</h2>
                </div>
                <!--Table-->
                <table class="tabel-hal-4">
                    <tbody>
                        <tr>
                            <td>
                                <h3 class="requirements-info">OS:</h3>
                                <h4 class="requirements-info-content">
                                    Windows 7 64-bit only (No OSX support at this time)
                                </h4>
                            </td>
                            <td>
                                <h3 class="processor">PROCESSOR:</h3>
                                <h4 class="processor-content">
                                    Intel Core 2 Duo @2.4GhZ or AMD Athlon X2 @ 2.8 GHZ
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="memory">MEMORY:</h3>
                                <h4 class="memory-content">
                                    4 GB RAM
                                </h4>
                            </td>
                            <td>
                                <h3 class="storage">STORAGE:</h3>
                                <h4 class="storage-content">
                                    8 GB available space
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3 class="graphics">GRAPHICS:</h3>
                                <h4 class="graphics-content">
                                    NVIDIA GeForce GTX 660 2GB or
                                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-hal-4-kanan"></div>
        </div>
        
    </section> 
    <!--halaman 5-->
    <section class="hal-5">
        <div class="konten-hal-5">
            <aside class="teks-hal-5-kiri">
                <h2>TOP SCORES</h2>
                <p>This top score from various games provided on this platform</p>
                <button type="button" class="btn btn-warning" id="button-hal-5">see more</button>
            </aside>
            <div class="hal-5-kanan">
                <div class="container row">
                    <!-- maaf kak bagian saya ini copas dari referensi web binar project yang FSW dan saya adjust -->
                    <div class="col">
                      <div class="row">
                        <div class="col-lg-5 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twittercards">
                          <div class="card text-white bg-dark mb-2 " id="card-1">
                            <div class="card-header row">
                              <svg width="30" height="30" class="img-fluid float-left profilepic col-3 card-costum" alt="Evan Lahti">
                                  <circle cx="29" cy="40" r="25" fill="gray"></circle>
                              </svg>
                              <div class="col-6">
                                <h3>Evan Lahti</h3>
                                <h4>PC Gamer</h4>
                              </div>
                              <img src="../images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">
                                "One of my gaming highlights of the year."
                              </h5>
                              <p class="card-text">June 18, 2021</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="row">
                        <div class="col-lg-5 col-md-7 offset-lg-3 offset-md-2 offset-sm-1 twittercards">
                          <div class="card text-white bg-dark mb-2 " id="card-2">
                            <div class="card-header row">
                                <svg width="30" height="30" class="img-fluid float-left profilepic col-3 card-costum" alt="Evan Lahti">
                                    <circle cx="29" cy="40" r="25" fill="gray"></circle>
                                </svg>
                              <div class="col-6">
                                <h3>Jada Griffin</h3>
                                <h4>Nerdreactor</h4>
                              </div>
                              <img src="../images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">
                                "The next big thing in the world of streaming and survival
                                games."
                              </h5>
                              <p class="card-text">July 10, 2021</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="row">
                        <div class="col-lg-5 col-md-7 offset-lg-5 offset-md-2 offset-sm-1 twittercards">
                          <div class="card text-white bg-dark mb-1 " id="card-3">
                            <div class="card-header row">
                                <svg width="30" height="30" class="img-fluid float-left profilepic col-3 card-costum" alt="Evan Lahti">
                                    <circle cx="29" cy="40" r="25" fill="gray"></circle>
                                </svg>
                              <div class="col-6">
                                <h3>Aaron Williams</h3>
                                <h4>Uproxx</h4>
                              </div>
                              <img src="../images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">
                                "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                                Ridiculous
                              </h5>
                              <p class="card-text">December 24, 2018</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Twitter cards -->
                  </div>
            </div>       
        </div>
    </section>
</body>
</html>